* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #f7fafd;
  --color2: #fff;
  --color3: #5e6778;
  --color4: #0a327b;
  --color5: #1c202b;
  --color6: #939cad;
  --color7: #e5effa;
}

@mixin custom-media($width) {
}
