@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/static/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/static/PlusJakartaSans-ExtraBold.ttf);
}
